<div class="container-about">
    <h1>Información de contacto</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis temporibus voluptatibus odit minus dolore culpa molestiae ad repellendus exercitationem debitis voluptates illum itaque nemo optio, quo eligendi error maxime maiores?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, pariatur nam deserunt recusandae impedit accusantium odit doloremque earum numquam ea cum expedita temporibus aspernatur hic quidem similique vero quasi quibusdam.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, nulla doloremque. Dicta, tenetur. Ex enim assumenda sed commodi hic quibusdam cupiditate aut, porro autem mollitia voluptas quod ad incidunt magni.</p>
</div>