nav {
    background-color: rgba(163, 189, 215, 0.97)!important;
    border-bottom: 5px double rgba(189, 40, 32, 0.5)!important;
}

.container-main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    "list"
    "carrito";
    margin: 5px;
}

.container-list {
    grid-area: "list";
}

.container-carrito {
    grid-area: "carrito";
}

.container-list, .container-carrito {
    background-color: rgba(188, 203, 219, 0.97);
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgba(163, 189, 215, 0.97);
    border-top: 5px double rgba(189, 40, 32, 0.5);
    padding: 10px;
    text-align: center;
}
