nav {
    background-color: rgba(163, 189, 215, 0.97)!important;
    border-bottom: 5px double rgba(189, 40, 32, 0.5)!important;
}

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgba(163, 189, 215, 0.97);
    border-top: 5px double rgba(189, 40, 32, 0.5);
    padding: 10px;
    justify-items: center;
    text-align: center;
}

p {
    margin: 0.2rem;
}
