<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Recurso</th>
        <th scope="col">Germinación</th>
        <th scope="col">Zona</th>
        <th scope="col">Imagen</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{herb1.name}}</th>
        <td>{{herb1.germination}}</td>
        <td>{{herb1.area}}</td>
        <td>x</td>
      </tr>
      <tr>
        <th scope="row">Caléndula</th>
        <td>Verano</td>
        <td>Montaña Tateyama</td>
        <td>x</td>
      </tr>
      <tr>
        <th scope="row">Manzanilla</th>
        <td>Otoño</td>
        <td>Cascada Shimotsuke</td>
        <td>x</td>
      </tr>
    </tbody>
  </table>