<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Recurso</th>
        <th scope="col">Germinación</th>
        <th scope="col">Precio</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let herb of herbs" [ngClass]="{'clearance': herb.clearance && herb.stock>0}">
        <th scope="row">{{herb.name}}</th>
        <td>{{herb.germination}}</td>
        <td>{{herb.price | currency}}</td>
        <td><img [src]="herb.image" [alt]="herb.name"/></td>
        <td><span *ngIf="herb.stock==0" class="badge bg-secondary">Sin stock</span>
            <span *ngIf="herb.clearance && herb.stock>0" class="badge text-bg-success">¡En oferta!</span>
        </td>
        <td>
          <span *ngIf="herb.stock > 0" class="container-up-down">
            <button class="btn btn-outline-dark" (click)="downQuantity(herb)">-</button>
            <input type="string" [(ngModel)]="herb.quantity" (keyup)="changeQuantity($event, herb)">
            <button class="btn btn-outline-dark" (click)="upQuantity(herb)">+</button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>